.app {
  min-height: 100dvh;
  transition: all 300ms linear;

  &.closed {
    .drawer {
      margin-left: -300px;
    }

    .section {
      margin-left: 0;

      .appbar {
        width: 100%;
      }
    }
  }

  .drawer {
    width: 300px;
    position: fixed;
    background-color: #fff;
    border-right: 1px solid rgba(220, 220, 220, 0.5);
    min-height: 100dvh;
    margin-left: 0;
    transition: all 300ms linear;
    z-index: 2;
  }

  .section {
    margin-left: 300px;
    transition: all 300ms linear;

    .appbar {
      width: calc(100% - 300px);
      position: fixed;
      background-color: #fff;
      border-bottom: 1px solid rgba(220, 220, 220, 0.5);
      height: 50px;
      transition: all 300ms linear;
    }

    .content {
      padding-top: 50px;
      min-height: 100dvh;
      overflow-y: auto;
    }
  }
}

@media (max-width: 768px) {
  .app {

    &.closed {
      .drawer {
        margin-left: -300px;
      }
    }

    .drawer {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
    }

    .section {
      margin-left: 0;

      .appbar {
        width: 100%;
      }
    }
  }
}